name: Unity License Activation

on:
  workflow_dispatch:

jobs:
  activation:
    name: Request Manual Activation File
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Request Activation File
        uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 6000.0.23f1
      
      - name: Upload Activation File
        uses: actions/upload-artifact@v3
        with:
          name: Unity_v6000.0.23f1.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
